body {
  margin:0;
  padding:0;
}
.item-selected {
    background: rgba(0,0,0,0.14) !important;
}
.tender-selected {
    background: #009688;
    color: #fff !important;
}
.tender-selected td:nth-child(2) {
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0 0 0 1px #009688;
}
.tender-selected td.change {
  background: rgb(184, 152, 204) !important;
}
.tender-selected td:nth-child(2) input {
  padding-left: 34px !important;
  padding-right: 34px !important;
}
